<% include partials/header %>
    <div id="container">
        <h1><%= title %></h1>
        <form>
            <label>Enter Text:</label>
            <input type="text" id="rawTextInput">
            <button id="convertTextBtn">Convert!</button>
            <br>
        </form>
        <label>Converted Text:</label>
        <input type="text" id="convertedTextInput">
        <button id="resetFieldsBtn">Reset Fields</button>
    </div>
<% include partials/footer %>