<% include partials/header %>
<h1><%= title %></h1>
    <div class="container">
        <div class="raw-container">
            <form>
                <label>Enter Text:</label>
                <input type="text" id="rawTextInput">
                <button id="convertTextBtn">Convert!</button>
                <br>
            </form>
        </div>
        <div class="converted-container">
            <label>Converted Text:</label>
            <input type="text" id="convertedTextInput">
            <button id="resetFieldsBtn">Reset Fields</button>
        </div>
    </div>
<% include partials/footer %>