h1 {
    text-align: center;
}

button {
    margin-top: 12px;
}

div.container{
    margin: auto;
    width: 90vw;
}

div.raw-container {
    text-align: center;
    margin: auto;
    width: 50%;
}

div.converted-container {
    text-align: center;
    margin: auto;
    width: 50%;
}

h1.alert.alert-primary {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}